.recipe {
  width: calc(85px * 3 + 20px * 2);
  overflow: hidden;
  position: relative;
}

.img {
  display: flex;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: var(--sub-color);
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.recipe:hover .img img {
  transform: scale(1.05);
}

.img .tags {
  position: absolute;
  top: 5px;
  left: 5px;
}

.title {
  padding: 0 3px;
  margin-bottom: 5px;
  line-height: 36px;
}

.heart {
  width: 30px;
  box-sizing: initial;
  padding: 5px;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.heart path {
  stroke: currentColor;
}

.heart:hover path {
  color: #f8382a;
}